@font-face {
    font-family: "DINRoundPro";
    src: url("../fonts/DINRoundPro/FFDINRoundPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/DINRoundPro/FFDINRoundPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/DINRoundPro/FFDINRoundPro-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/DINRoundPro/FFDINRoundPro-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/DINRoundPro/FFDINRoundPro-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/DINRoundPro/FFDINRoundPro-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/DINRoundPro/FFDINRoundPro-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "DINRoundPro-Bold";
    src: url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.otf") format("opentype"), /* Open Type Font */
      url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.svg") format("svg"), /* Legacy iOS */
      url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.woff") format("woff"), /* Modern Browsers */
      url("../fonts/DINRoundPro-Bold/FFDINRoundPro-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "DINRoundPro-Light";
    src: url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.otf") format("opentype"), /* Open Type Font */
      url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.svg") format("svg"), /* Legacy iOS */
      url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.woff") format("woff"), /* Modern Browsers */
      url("../fonts/DINRoundPro-Light/FFDINRoundPro-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "DINRoundPro-Medi";
    src: url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.otf") format("opentype"), /* Open Type Font */
      url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.svg") format("svg"), /* Legacy iOS */
      url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.woff") format("woff"), /* Modern Browsers */
      url("../fonts/DINRoundPro-Medium/FFDINRoundPro-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }